<ion-header>
  <ion-navbar>
    <ion-title>
        {{ 'forum.' + post_id | ln }}
        {{ 'forum' | ln }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list class='posts'>

        <ion-item class='post' *ngFor=" let post of posts.posts ">

            <div class="title">
                {{ post.subject }}
                <span class="no-of-comments">{{ post.no_of_comment}}</span>
            </div>


            <div class="comments" *ngIf=" post.comments ">
<div class="comment" *ngFor=" let comment of post.comments ">{{ comment.content }}</div>
            </div>
        </ion-item>

    </ion-list>



</ion-content>
