.posts {
    .post {
        .title {
            background-color: #efefef;
            color:blue!important;
        }
    }
}


.comments {
    .comment {
        margin: 1em 0;
        padding: 1em;
        background-color: #dfdfdf;
    }
}