<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <section *ngIf=" core.isCordova ">
    <h1>Cordova: Choose Login With</h1>
    <button ion-button (click)="onClickCustomLogin()">Custom Login</button>
    <button ion-button (click)="onClickFacebookLogin()">Facebook</button>
    <button ion-button (click)="onClickTwitterLogin()">Twitter</button>
    <button ion-button (click)="onClickGooglePlusLogin()">Google+</button>
    <button ion-button (click)="onClickInstagramLogin()">Instagram</button>
    <button ion-button>PhilGo</button>
  </section>

  <section *ngIf=" core.isWeb ">
    <h1>Web Login</h1>
    <ion-list>
      <ion-item>
        <ion-label>User ID</ion-label>
        <ion-input [(ngModel)]="form.id" clearInput></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>User Password</ion-label>
        <ion-input [(ngModel)]="form.password" clearOnEdit></ion-input>
      </ion-item>
    </ion-list>
    <div *ngIf=" process.loader "><ion-spinner></ion-spinner> Login ...</div>
    <div *ngIf=" process.error "> Error: {{ process.error }}</div>
    <button ion-button (click)="onClickLogin()">LOGIN</button>
    <button ion-button (click)="onClickRegister()">REGISTER</button>
  </section>

</ion-content>
