<ion-header>
    <ion-navbar>
        <ion-title>{{ appTitle }}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>

    <ion-list>
        <ion-card *ngFor=" let post of posts; let i = index; " >
            <ion-card-content (click)="moreButton[i] = ! moreButton[i]">
                <div *ngIf="post.attachment_1" class="avatar">
                    <img [src]="post.attachment_1?.url"/>
                </div>

                <div padding-top>
                    <p padding-left>
                        {{ post.content }}
                    </p>
                </div>

                <div *ngIf="moreButton[i]">
                    <ion-item-group text-wrap>
                        <ion-item><ion-label>{{text.name}} : {{ post.first_name }} {{ post.middle_name }} {{ post.last_name }}</ion-label></ion-item>
                        <ion-item><ion-label>{{text.gender}} : {{ post.gender }}</ion-label></ion-item>
                        <ion-item><ion-label>{{text.age}} : {{ fullYear - post.birth_year  }}</ion-label></ion-item>
                        <ion-item><ion-label>{{text.mobile}} : {{ post.mobile }}</ion-label></ion-item>
                        <ion-item><ion-label>{{text.address}} : {{ post.address }}</ion-label></ion-item>
                    </ion-item-group>
                </div>
            </ion-card-content>

            <ion-row padding-horizontal>
                <ion-col>
                    <button ion-button clear small no-padding (click)="moreButton[i] = !moreButton[i]" *ngIf="!moreButton[i]">
                        <ion-icon name='arrow-dropdown-circle'></ion-icon>
                        {{text.more}}
                    </button>
                    <button ion-button clear small no-padding (click)="moreButton[i] = !moreButton[i]" *ngIf="moreButton[i]">
                        <ion-icon name='arrow-dropup-circle'></ion-icon>
                        {{text.less}}
                    </button>
                </ion-col>
                <ion-col>
                    <button ion-button clear small no-padding (click)="onClickEdit(post.idx)">
                        <ion-icon name='open'></ion-icon>
                        {{text.edit}}
                    </button>
                </ion-col>
                <ion-col>
                    <button ion-button clear small no-padding (click)="onClickDelete(post.idx , i)">
                        <ion-icon name='trash'></ion-icon>
                        {{text.delete}}
                    </button>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <h1 *ngIf=" noMorePost ">
        There is no more posts.
    </h1>
</ion-content>
