<ion-header>
  <ion-navbar>
    <ion-title>
      <div *ngIf=" login ">
        Update Profile
      </div>
      <div *ngIf=" ! login ">
        Register
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-list>

      <ion-item>
        <section class="primary-photo">
          <div (click)="onClickPhoto()">
            <img [src]="urlPhoto">
          </div>
          <div *ngIf=" form.text_1">
            <button ion-button (click)="onClickDeletePhoto()">DELETE</button>
            <span *ngIf=" file_delete_begin ">
              <ion-spinner></ion-spinner> Deleting ...
            </span>
          </div>
          <input *ngIf=" core.isWeb " type="file" (change)="onChangeFile($event)">
          <div *ngIf=" file_upload_begin ">
            <progress [value]="file_upload_position" max="100"></progress>
          </div>
        </section>
      </ion-item>



      <ion-item *ngIf=" ! login ">
        <ion-label floating>User Id</ion-label>
        <ion-input type='text' [(ngModel)]="form.id" ></ion-input>
      </ion-item>
      
      <ion-item *ngIf=" ! login ">
         <ion-label floating>Password</ion-label>
         <ion-input type = 'password' [(ngModel)]="form.password"></ion-input>
      </ion-item>

       <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input type='text' [(ngModel)]="form.name" ></ion-input>
      </ion-item>

       <ion-item *ngIf=" ! login ">
        <ion-label floating>Nickname</ion-label>
        <ion-input type='text' [(ngModel)]="form.nickname" ></ion-input>
      </ion-item>

       <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type='text' [(ngModel)]="form.email" ></ion-input>
      </ion-item>

       <ion-item>
        <ion-label floating>Mobile</ion-label>
        <ion-input type='text' [(ngModel)]="form.mobile" ></ion-input>
      </ion-item>

       <ion-item>
        <ion-label floating>Gender</ion-label>
        <ion-input type='text' [(ngModel)]="form.gender" ></ion-input>
      </ion-item>

       <ion-item>
        <ion-label floating>Birth Day</ion-label>
        <ion-input type='date' [(ngModel)]="form.birthday" ></ion-input>
      </ion-item>

    </ion-list>


    <div notice *ngIf=" process.loader ">
      <ion-spinner></ion-spinner> Please, wait.
    </div>
    <div warning *ngIf=" process.error ">
      {{ process.error }}
    </div>
  
      <button *ngIf=" ! login " ion-button (click)="onClickRegisterXbase()">Register</button>
      <button *ngIf=" login " ion-button (click)="onClickUpdate()">UPDATE</button>

      <button ion-button (click)="onClickCancel()">CANCEL</button>
     
  
</ion-content>
