<ion-header>
  <ion-navbar>
    <ion-title>
      {{ 'home' | ln }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>Sonub Homepage ... 2</h1>



{{ 'home' | ln:{ day: 'Monday', time: '12:34' } }}
{{ output |json }}

  <section *ngIf=" login ">
      <button ion-button (click)="onClickLogout()">LOGOUT</button>
      <button ion-button (click)="onClickProfileUpdate()">PROFILE UPDATE</button>
  </section>
  <section *ngIf=" ! login ">
      <button ion-button (click)="onClickLogin()">LOGIN</button>
      <button ion-button (click)="onClickRegister()">Register</button>
  </section>

      <button ion-button (click)="onClickForum()">Forum</button>

      <button ion-button (click)="onClickJob()">Job</button>
</ion-content>
