<ion-header>
  <ion-navbar>
    <ion-title>
        Job Page
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  

  <button ion-button (click)="onClickJobPost()">Job Post</button>

  <ion-label primary stacked>Work Profession</ion-label>
  <ion-item>
    <ion-label floating></ion-label>
    <ion-select [(ngModel)]="data.profession" placeholder="Select Profession" margin-left>
      <ion-option value="housemaid" >Housemaid</ion-option>
      <ion-option value="driver" >Driver</ion-option>
    </ion-select>
  </ion-item>


  <ion-label primary stacked>{{ text.searchByGender }}</ion-label>
  <ion-row>
    <ion-col width-50>
      <ion-item>
        <ion-label>{{text.male}}</ion-label>
        <ion-checkbox [(ngModel)]="data.male" (ionChange)="search($event)"></ion-checkbox>
      </ion-item>
    </ion-col>
    <ion-col width-50>
      <ion-item>
        <ion-label>{{text.female}}</ion-label>
        <ion-checkbox [(ngModel)]="data.female" (ionChange)="search($event)"></ion-checkbox>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-label primary stacked>{{ text.searchByAge }}</ion-label>
  <ion-item>
    <ion-range  dualKnobs="true" min="{{ ageRange.lower }}" max="{{ ageRange.upper }}" step="1" [(ngModel)]="searchByAge" (ionChange)="search()" debounce="500">
      <ion-label range-left>{{ searchByAge.lower }}</ion-label>
      <ion-label range-right>{{ searchByAge.upper }}</ion-label>
    </ion-range>
  </ion-item>

  <ion-label primary stacked>{{ text.searchByCity }}</ion-label>
  <ion-searchbar [(ngModel)]="data.city" debounce="500" (ionInput)="search($event)" placeholder="Input City..."></ion-searchbar>

  <ion-label primary stacked>{{ text.searchByProvince }}</ion-label>
  <ion-searchbar [(ngModel)]="data.province" debounce="500" (ionInput)="search($event)" placeholder="Input Province..."></ion-searchbar>

  <ion-label primary stacked>{{ text.searchByName }}</ion-label>
  <ion-searchbar [(ngModel)]="data.name" debounce="500" (ionInput)="search($event)" placeholder="Input Name..."></ion-searchbar>


  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>

  <ion-list>
    <ion-item-group text-wrap *ngFor=" let post of posts; let i = index;  ">
      <ion-item-divider>
        <ion-avatar item-left>
          <img src="{{post?.image}}"/>
        </ion-avatar>
        <div>{{ post.title }}</div>
        <div>{{ post.content }}</div>
        <button ion-button clear small item-right no-padding (click)="moreButton[i] = !moreButton[i]" *ngIf="!moreButton[i]">
          <ion-icon name='arrow-dropdown-circle'></ion-icon>
          {{text.more}}
        </button>
        <button ion-button clear small item-right no-padding (click)="moreButton[i] = !moreButton[i]" *ngIf="moreButton[i]">
          <ion-icon name='arrow-dropup-circle'></ion-icon>
          {{text.less}}
        </button>
      </ion-item-divider>

      <ion-item-group text-wrap *ngIf="moreButton[i]">
        <ion-item-divider light>
          {{text.personalInformation}}
          <button ion-button clear small no-padding item-right (click)="onClickEdit(post.idx)">
            <ion-icon name='open'></ion-icon>
            &nbsp; {{text.edit}}
          </button>
        </ion-item-divider>
        <ion-item><ion-label>{{text.name}} : </ion-label></ion-item>
        <ion-item><ion-label>{{text.gender}} : </ion-label></ion-item>
        <ion-item><ion-label>{{text.age}} : </ion-label></ion-item>
        <ion-item><ion-label>{{text.mobile}} : </ion-label></ion-item>
        <ion-item><ion-label>{{text.address}} : </ion-label></ion-item>
      </ion-item-group>
      <br />
    </ion-item-group>
  </ion-list>

</ion-content>
